<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.belajar.wisata">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".news.DetailNews"
            android:label="Detail News"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".news.NewsAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".news.News"
            android:label="News Wisata"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".GaleriWisata"
            android:label="Galeri" />
        <activity android:name=".Tentang"
            android:label="About"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".VideoWisata" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYmbOhDRWXLw3Oj4XxtC13RSZkMZ9QIw4" />

        <activity android:name=".LokasiWisata"
            android:label="Lokasi Wisata"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Portalwisata"
            android:label="Website Wisata NTT"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ProfilWisata"
            android:label="Profil Wisata"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Wisata NTT" />
    </application>

</manifest>